html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

body {
    background-color: #2C2F33;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}

.side-image {
    position: absolute;
    left: 10px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 700px; /* Adjust width as needed */
    height: auto;
    border-radius: 10px;
}

.features {
    position: absolute;
    right: 10px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
    text-align: right; /* Align text to the right */
}

.features h2 {
    margin-top: 0;
    text-align: center; /* Align heading to the center */
}

.features ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Align list items to the center */
}

.features ul li {
    margin-bottom: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: auto;
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.container {
    position: relative;
}

#purchase-button {
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 9999;
    border: none;
    background-color: #7289da;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#purchase-button:hover {
    background-color: #4e5d94;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.price {
    font-size: 24px;
    margin-bottom: 20px;
    color: black; /* Make the text black */
}

.buy-now-button {
    border: none;
    background-color: #7289da;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.buy-now-button:hover {
    background-color: #4e5d94;
}
